Source: node-css-what
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Uploaders: Thorsten Alteholz <debian@alteholz.de>
Section: javascript
Testsuite: autopkgtest-pkg-nodejs
Priority: optional
Build-Depends:
 debhelper-compat (= 13)
 , node-typescript
 , node-types-node
 , dh-sequence-nodejs
 , jest (>= 27~) <!nocheck>
 , ts-jest (>= 27~) <!nocheck>
Standards-Version: 4.6.1
Vcs-Browser: https://salsa.debian.org/js-team/node-css-what
Vcs-Git: https://salsa.debian.org/js-team/node-css-what.git
Homepage: https://github.com/fb55/css-what
Rules-Requires-Root: no

Package: node-css-what
Architecture: all
Multi-Arch: foreign
Depends:
 ${misc:Depends}
Breaks: node-css-select (<< 5.1.0~)
 , node-cheerio (<< 1.0.0~rc~11~)
Description: CSS selector parser
 This module contains a CSS selector parser.
 .
 The function returns a two-dimensional array. The first array represents
 selectors separated by commas (eg. sub1, sub2), the second contains the
 relevant tokens for that selector.
 .
 Node.js is an event-based server-side JavaScript engine.
